{% extends "base.html" %}

{% block content %}


<body>
    <h1>Gestão de Recursos</h1>
    <a href="{{ url_for('add_resource') }}">Adicionar Novo Recurso</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Quantidade</th>
            <th>Status</th>
        </tr>
        {% for resource in resources %}
        <tr>
            <td>{{ resource['id'] }}</td>
            <td>{{ resource['name'] }}</td>
            <td>{{ resource['type'] }}</td>
            <td>{{ resource['quantity'] }}</td>
            <td>{{ resource['status'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('security_admin_dashboard') }}">Voltar ao Painel</a>
</body>
{% endblock %}
